<header class="header-load">
    <a href=""><img id="logo" src="../../assets/img/logo-workoholics-rosa.svg" alt=""></a>
    <nav class="main">
        <ul>
            <li><a routerLink="/product">Productos</a></li>
            <li><a routerLink="/about">Sobre nosotrxs</a></li>
            <li><a routerLink="/contact">Contacto</a></li>
            <li><a target="blank" href="https://workoholics.es/">worköholics</a></li>
        </ul>
    </nav>

    <div class="icons-header">
        <a routerLink="/login">
        <div class="user-details">
            <img src="../../assets/img/user-rosa.svg" alt="">
        </div></a>

        <a routerLink="/cart">
        <div class="cart">
            <img src="../../assets/img/carrito-compra-rosa.svg" alt="">
        </div></a>
    </div>
</header>