<header>
    <a href=""><img id="logo" src="../../assets/img/logo-workoholics-rosa.svg" alt=""></a>
    <nav class="main">
        <ul>
            <li><a href="">Productos</a></li>
            <li><a href="">Sobre nosotrxs</a></li>
            <li><a href="">Contacto</a></li>
            <li><a href="">Agencia</a></li>
            <li><a href="">Acceder</a></li>
        </ul>
    </nav>
    <div class="cart">
        <img src="../../assets/img/carrito-compra-rosa.svg" alt="">
    </div>
</header>