
<footer>
 <section class="fixed-width">
    <div class="main">
        <div class="content footer-links">
            <a href=""><img id="logo" src="../../assets/img/logo-workoholics-rosa.svg" alt=""></a>
            
            <div class="footer-contact">
                <h4>Contacto comercial:</h4>
                <h4>+34 988 776 655</h4>
                <h4>workoholics@shop.es</h4>
           
            </div>
            <div class="footer-company">
                <h4>Condiciones de Compra</h4>
                <h4>Servicio Venta</h4>
                <h4>Precios</h4>
            </div>
            
            <div class="footer-social">
               
                <div class="social-icons">
                    <a href="https://www.instagram.com/workoholics_/">Instagram</a> 
                    <a href=""><img id="arrow-button" src="../../assets/img/arrow-up (2).svg" alt=""></a> <br>
                    
                    <a href="https://www.linkedin.com/company/workoholics/">LinkedIn</a>
                    <a href=""><img id="arrow-button" src="../../assets/img/arrow-up (2).svg" alt=""></a> <br> 

                    <a href="https://twitter.com/workoholics_">Twitter</a>
                    <a href=""><img id="arrow-button" src="../../assets/img/arrow-up (2).svg" alt=""></a>
                </div>
            </div>

        </div>
    </div>
    <div class="last">Workoshop, 2022
    <a href=""><img id="emoji" src="../../assets/img/smiley-worko.svg" height="20" width="20" alt=""></a>
</div> 
</section>
</footer>
