
<footer>
 <section class="fixed-width">
    <div class="main">
        <div class="content footer-links">
            <a href=""><img id="logo" src="../../assets/img/logo-workoholics-rosa.svg" alt=""></a>
            
            <div class="footer-contact">
                <p>Contacto comercial:</p>
                <p>workoholics@shop.es</p>
                <p>+34 988 776 655<p>

            </div>

            <div class="footer-contact">
                <a>Condiciones de Compra</a>
                <a>Servicio Venta</a>
                <a>Precios</a>
            </div>
            
            <div class="footer-contact arrow-button-contact">
                    <div class="arrow-up-button"><a href="https://www.instagram.com/workoholics_/">
                        <span>Instagram</span> <img src="../../assets/img/arrow-up-white.svg" alt=""></a>
                    </div>

                    <div class="arrow-up-button"><a href="https://www.linkedin.com/company/workoholics/">
                        <span>LinkedIn</span> <img src="../../assets/img/arrow-up-white.svg" alt=""></a>
                    </div>

                    <div class="arrow-up-button"><a href="https://twitter.com/workoholics_">
                        <span>Twitter</span> <img src="../../assets/img/arrow-up-white.svg" alt=""></a>
                    </div>
            </div>

        </div>
    </div>
    <hr>
    <div class="last">Workoshop, 2022
        <img src="../../assets/img/smiley-worko.svg" alt="">
    </div> 
</section>
</footer>
