
<main>    
    <section class="fixed-width">
    
    
       <div>
            <select #selCoupon (change)="getId(selCoupon.value); getDataCouponId(couponIdNum)">
                <option selected>Seleccionar Coupon</option>
                <option *ngFor="let Coupon of objects; let i = index" value="{{ Coupon.id }}">
                {{Coupon.name }}
                </option>
            </select>
        </div>
        <div class="form">
            <input placeholder="Nombre del Coupon" [(ngModel)]="object.name" type="text" >
            <input placeholder="Fecha inicio" [ngModel]="object.startDate | date:'yyyy-MM-dd'" (ngModelChange)="object.startDate = $event" type="date">
            <input placeholder="Fecha Fin" [ngModel]="object.endDate | date:'yyyy-MM-dd'" (ngModelChange)="object.endDate = $event" class="form-control" #fecha  type="date">
            <input placeholder="Discount" [(ngModel)]="object.discount" type="number" >
         
            <button (click)="putCoupon(object)">Modificar Coupon</button>
            <button (click)="postCoupon(object)">Registrar Coupon</button>
            <button (click)="deleteCoupon(couponIdNum)">Eliminar Coupon</button>
        </div> 
    </section>
    </main>