<main class="square-bg">

    <div class="popup hideP">
        <div>
            <div><p id="popup-info"></p></div>
            <div class="popup-smiley" class="hide" id="smiley"><img src="../../assets/img/smiley-black-worko.svg"></div>
            <div class="popup-smiley" class="hide" id="saddey"><img src="../../assets/img/saddey-black-worko.svg"></div>

            <div class="buttons">
                <button id="button-admin" routerLink="/login" class="hide" (click)="popup();">¡Vale!</button>
                <button id="button-index" class="hide" (click)="popup(); refreshAndGoToIndex();">¡Vale!</button>
            </div>
        </div>
    </div>

    <section class="fixed-width login-form">
        <div class="form">
            <h2>Registro</h2>
            <input placeholder="Nombre*" [(ngModel)]="user.name" type="text" >
            <input placeholder="Apellido*" [(ngModel)]="user.surname" type="text">
            <input placeholder="Email*" [(ngModel)]="user.email" type="email">
            <input placeholder="Dirección*" [(ngModel)]="user.adress" type="text">
            <input placeholder="Contraseña*" [(ngModel)]="user.password" type="password">
            <div id="privacy-subscribe" class="privacy-policy">
                <input type="checkbox"> <label>Acepta la <a href="">política de privacidad</a>.</label>
            </div>
            <button (click)="postDataUser()">Registrarme</button>
        </div>
        

        <div class="form">
            <h2>Acceso</h2>
            <input placeholder="Email*" [(ngModel)]="tokenUser.email" type="email">
            <input placeholder="Contraseña*" [(ngModel)]="tokenUser.password"  type="password">

            <div id="privacy-subscribe" class="privacy-policy">
                <input type="checkbox"> <label>Acepto la <a href="">política de privacidad</a>.</label>
            </div>
            <button (click)="Login()">Acceder</button>
            <p></p>
        </div>

    </section>
</main>