.hide{
    display: none;
}

.show{
    display: flex;
}

.buttons button{
    margin-left: 0;
}

@media (max-width: 834px) {
    .login-form{
        flex-direction: column;
        flex-wrap: wrap;
    }
    
    .form{
        width: 100%;
    }    
}