<main class="square-bg">
    <section class="fixed-width login-form">
        <div class="form">
            <h2>Registro</h2>
            <input placeholder="Nombre*" type="text">
            <input placeholder="Apellido*" type="text">
            <input placeholder="Email*" type="email">
            <input placeholder="Dirección*" type="text">
            <input placeholder="Contraseña*" type="password">
            <div id="privacy-subscribe" class="privacy-policy">
                <input type="checkbox"> <label><a href="">Acepto la política de privacidad.</a></label>
            </div>
            <button>Registrarme</button>
        </div>

        <div class="form">
            <h2>Acceso</h2>
            <input placeholder="Email*" type="email" [(ngModel)]="tokenUser.email">
            <input placeholder="Contraseña*" type="password" [(ngModel)]="tokenUser.password">
            <div id="privacy-subscribe" class="privacy-policy">
                <input type="checkbox"> <label>Acepto la <a href="">política de privacidad</a>.</label>
            </div>
            <button (click)="Login()">Acceder</button>
            <p></p>
        </div>

    </section>
</main>