<main>
    <section class="fixed-width">

        <h2>Contacto</h2>

        <div class="contact-block">

            <div class="contact">
                <h3>Contacta con nosotros</h3>

                <p>Si tienes alguna duda sobre alguno de nuestros envíos, forma de pago o envío, puedes enviarnos un
                    email a
                    helloshop@workoholics.es y te respondremos en un breve espacio de tiempo para que tu compra sea
                    satisfactoria.</p>

                <div class="contact_img">
                    <img src="../../assets/img/mail-contacto-01.svg" alt="">
                </div>
            </div>



            <div class="form">
                <input placeholder="Nombre*" type="text"><br>
                <input placeholder="Email*" type="email"><br>
                <input placeholder="Telefono*" type="number"><br>
                <label>Mensaje:</label><br><textarea class="msg" cols="35" rows="8"></textarea><br>
                <div id="privacy-subscribe" class="privacy-policy">
                    <input type="checkbox"> <label>Acepto la <a href="">política de privacidad</a>.</label>
                </div>
                <button>Enviar mensaje</button>
            </div>
        </div>
    </section>
</main>