<main>    
<section class="fixed-width">


    <!-- <div>
        <select #productList (change)="getId(productList.value); getDataProductId(productIdNum)">
            <option selected>Seleccionar producto</option>
            <option *ngFor="let product of  objectsPrList; let i = index" value="{{ product.id }}">
            {{product.name }}
            </option>
        </select>
    </div>
    <div class="form">
        <input placeholder="Nombre del Producto" [(ngModel)]="objectPr.name" type="text" >
        <input placeholder="Price" [(ngModel)]="objectPr.price" type="number">
        <input placeholder="Stock" [(ngModel)]="objectPr.stock" type="number">
        <input placeholder="Description" [(ngModel)]="objectPr.description" type="text">
        <input placeholder="Color" [(ngModel)]="objectPr.color" type="text">
        <input placeholder="Size" [(ngModel)]="objectPr.size" type="text">
        <button (click)="putProduct(productIdNum)">Modificar Producto</button>
        <button (click)="postProduct()">Registrar Producto</button>
        <button (click)="deleteProduct(productIdNum)">Eliminar Producto</button>
    </div> -->


<!-- <div class="admin-form hide" id="admin-user">
    <div class="form">
    <div class="user-admin-header">
        <select #userList (change)="getId(userList.value); getUserIdData(userIdNum)">
            <option selected>Seleccionar usuario</option>
            <option *ngFor="let user of usr; let i = index" value="{{ user.id }}">
            {{ user.name }}
            </option>
        </select>
        <div id="close-user" (click)="showDefault()"><img src="../../assets/img/cerrar.svg"></div>
    </div>
        <input type="text" [(ngModel)]="user.name" placeholder="Nombre" /> 
        <input type="text" [(ngModel)]="user.surname" placeholder="Apellido" />
        <input type="email" [(ngModel)]="user.email" placeholder="Email" />
        <input type="password" [(ngModel)]="user.password" placeholder="Contraseña" />
        <input type="text" [(ngModel)]="user.adress" placeholder="Dirección" />
        <button (click)="putUserData(userIdNum); refresh()">Modificar datos</button>
        <button (click)="deleteUserData(userIdNum); refresh()">Eliminar usuario</button>
    </div>
</div> -->

</section>
</main>