<main class="square-bg">
<section class="fixed-width">
    <h2>Productos</h2>
    <!-- <p>Lorem ipsum dolor sit amet, consectetur adipiscing elit. Quisque porttitor lorem ut congue tincidunt. Maecenas imperdiet sit amet tellus nec porta. Cras facilisis ante in enim cursus iaculis. Pellentesque lacinia sem at risus auctor finibus. Aliquam imperdiet sodales nulla ac gravida. Maecenas urna lacus, ullamcorper non est nec, mollis semper urna. Sed at est felis. Cras a feugiat nunc. Sed hendrerit nec est sit amet luctus. Donec mattis nibh ut mi lacinia volutpat. Quisque dapibus, nulla a blandit porta, augue mauris porttitor augue, et posuere dui nisi sit amet metus. Mauris et tincidunt libero. Nunc iaculis molestie tortor, id rutrum enim pulvinar vel. Donec blandit lobortis magna at mollis. In aliquet nec elit eu scelerisque.

        Morbi mauris turpis, vehicula quis dictum eget, scelerisque at erat. Donec id ultricies enim, ut vulputate eros. Vivamus suscipit consectetur velit, a porttitor diam pretium nec. Curabitur metus erat, laoreet sodales ipsum nec, semper lobortis erat. Fusce rhoncus enim vitae ullamcorper viverra. Proin vestibulum nunc odio, sit amet luctus ligula ultricies nec. Duis at neque malesuada, tempor nisi in, fringilla ex. Praesent volutpat non metus id consequat. Fusce sed aliquet odio. Vestibulum elementum sapien sapien, eu faucibus urna tincidunt ut. Ut eu varius elit, sed vulputate ligula. Morbi condimentum ante rutrum enim vulputate facilisis.
        
        Proin ac sollicitudin sem. Proin condimentum erat vitae nisi convallis tempus. Suspendisse potenti. Cras nec dolor ut nulla placerat tincidunt a eu neque. Morbi porttitor pellentesque arcu sit amet convallis. Curabitur nulla enim, mattis vitae ligula in, placerat sollicitudin odio. Vestibulum viverra porta arcu sit amet convallis. Nulla sit amet luctus tellus, in mollis diam. Donec eu orci eu augue rutrum sollicitudin eu sed mauris. Donec commodo nec leo quis malesuada. Proin imperdiet ac massa sed venenatis. Pellentesque sem ligula, ultricies vel egestas et, faucibus quis magna. Duis venenatis, felis in vestibulum molestie, mi velit porta neque, vitae volutpat sem augue eget dolor.
        
        Sed sapien orci, vulputate sed nunc eget, congue aliquet ipsum. Cras arcu libero, molestie eget arcu a, faucibus consectetur felis. Cras eget sodales arcu, posuere porttitor purus. Sed hendrerit pulvinar lorem, vel semper risus ultrices ut. Etiam tincidunt a ligula at mattis. Duis at massa elit. Pellentesque habitant morbi tristique senectus et netus et malesuada fames ac turpis egestas. Nullam ullamcorper sodales blandit. Sed in mauris risus. Nulla facilisi. Aenean nec interdum lectus. Donec venenatis ipsum eros, a laoreet lorem venenatis eget. Nullam ac massa dapibus, semper nunc eget, blandit erat. Curabitur vulputate magna vel nibh aliquet tincidunt. Vestibulum sit amet arcu vehicula, euismod diam eget, ullamcorper magna.
        
        Sed placerat neque quam, quis imperdiet odio porta ut. Suspendisse non massa sit amet neque ullamcorper dictum. Fusce id velit lacus. Praesent sed ante magna. Interdum et malesuada fames ac ante ipsum primis in faucibus. Etiam vel rutrum mauris. In id scelerisque est, ac viverra augue. Sed nec pulvinar justo, eget posuere magna. Nam sem tortor, accumsan vel dui id, vestibulum ultrices mauris. In luctus non dolor et egestas. Vestibulum convallis turpis ut nisl finibus, ut consequat nunc maximus.</p> -->
        <div class="products">

            <div class="product">
                <img src="../../assets/img/products/camiseta-workoholics-diseno-chica.jpg">
                <div class="product-category"><hr><p>Camiseta</p></div>
                <div class="info-product">
                    <h3>Work, sweet, work!</h3><p>20,00€</p>
                </div>
                <button>Añadir al carrito</button>              
            </div>

            <div class="product">
                <img src="../../assets/img/products/camiseta-workoholics-diseno-chica.jpg">
                <div class="product-category"><hr><p>Camiseta</p></div>
                <div class="info-product">
                    <h3>Work, sweet, work!</h3><p>20,00€</p>
                </div>
                <button>Añadir al carrito</button>              
            </div>

        </div>
    <div class="arrow-button"><a href=""><span>Ver todos los productos</span> <img src="../../assets/img/flecha.svg" alt=""></a></div>
    </section>
</main>