<app-slider></app-slider>
<main class="square-bg">
<section class="fixed-width">
    <h2>Productos destacados</h2>
        <div class="products">
            <div class="product" routerLink="/product/4">
                <img src="../../assets/img/products/camiseta-workoholics-diseno-chica.jpg">
                <div class="product-category"><hr><p>Camiseta</p></div>
                <div class="info-product">
                    <h3>Work, sweet, work!</h3><p>35€</p>
                </div>
                <button routerLink="/product/4">Ver producto</button>              
            </div>

            <div class="product" routerLink="/product/6">
                <img src="../../assets/img/products/cuaderno-workoholics-cerrado.jpg">
                <div class="product-category"><hr><p>Cuaderno</p></div>
                <div class="info-product">
                    <h3>Work, sweet, work!</h3><p>19€</p>
                </div>
                <button routerLink="/product/6">Ver producto</button>              
            </div>

        </div>
    <div class="arrow-button"><a routerLink="/product"><span>Ver todos los productos</span> <img src="../../assets/img/flecha.svg" alt=""></a></div>
    </section>
</main>