<app-slider></app-slider>
<main class="square-bg">
<section class="fixed-width">
    <h2>Productos destacados</h2>
        <div class="products">
            <div class="product">
                <img src="../../assets/img/products/camiseta-workoholics-diseno-chica.jpg">
                <div class="product-category"><hr><p>Camiseta</p></div>
                <div class="info-product">
                    <h3>Work, sweet, work!</h3><p>20,00€</p>
                </div>
                <button>Añadir al carrito</button>              
            </div>

            <div class="product">
                <img src="../../assets/img/products/camiseta-workoholics-diseno-chica.jpg">
                <div class="product-category"><hr><p>Camiseta</p></div>
                <div class="info-product">
                    <h3>Work, sweet, work!</h3><p>20,00€</p>
                </div>
                <button>Añadir al carrito</button>              
            </div>

        </div>
    <div class="arrow-button"><a routerLink="/product"><span>Ver todos los productos</span> <img src="../../assets/img/flecha.svg" alt=""></a></div>
    </section>
</main>