<main>
    <div class="popup hideP">
        <div>
            <div><p id="popup-info"></p></div>
            <img src="../../assets/img/smiley-black-worko.svg">
            <div class="buttons">
                <button routerLink="/admin" (click)="popup()">Vale</button>
            </div>
        </div>
    </div>
    <section class="fixed-width">
 
    <div class="admin-nav">
        <h2>Gestión de Ecommerce</h2>
        <button (click)="showAdminNewUser()">Añadir usuarix</button>
        <button (click)="showAdminUser()">Gestionar usuarixs</button>
        <button (click)="showAdminNewProduct()">Añadir producto</button>
        <button (click)="showAdminProducts()">Gestionar productos</button>
        <button>Gestionar cupones</button>
    </div>

    <div class="admin-space">

            <div id="admin-init" class="show">
                <img src="../../assets/img/admin-workoshop.svg" alt="">
            </div>            

            <div class="admin-form hide" id="admin-newuser">
                <div class="form">
                <div class="user-admin-header">
                    <h3>Añadir usuarix</h3> <div id="close-user" (click)="showDefault()"><img src="../../assets/img/cerrar.svg"></div>
                </div>
                <div class="form">
                    <input placeholder="Nombre*" [(ngModel)]="user.name" type="text" >
                    <input placeholder="Apellido*" [(ngModel)]="user.surname" type="text">
                    <input placeholder="Email*" [(ngModel)]="user.email" type="email">
                    <input placeholder="Dirección*" [(ngModel)]="user.adress" type="text">
                    <input placeholder="Contraseña*" [(ngModel)]="user.password" type="password">
                    <div id="privacy-subscribe" class="privacy-policy">
                        <input type="checkbox"> <label>Acepta la <a href="">política de privacidad</a>.</label>
                    </div>
                    <button (click)="postUser()">Registrar usuario</button>
                </div>
            </div></div>

            <div class="admin-form hide" id="admin-user">
            <div class="form">
            <div class="user-admin-header">
                <select #userList (change)="getId(userList.value); getUserIdData(userIdNum)">
                    <option selected>Seleccionar usuarix</option>
                    <option *ngFor="let user of usr; let i = index" value="{{ user.id }}">
                    {{ user.name }}
                    </option>
                </select>
                <div id="close-user" (click)="showDefault()"><img src="../../assets/img/cerrar.svg"></div>
            </div>
                <input type="text" [(ngModel)]="us.name" placeholder="Nombre" /> 
                <input type="text" [(ngModel)]="us.surname" placeholder="Apellido" />
                <input type="email" [(ngModel)]="us.email" placeholder="Email" />
                <input type="password" [(ngModel)]="us.password" placeholder="Contraseña" />
                <input type="text" [(ngModel)]="us.adress" placeholder="Dirección" />
                <button (click)="putUserData(userIdNum)">Modificar datos</button>
                <button (click)="deleteUserData(userIdNum)">Eliminar usuario</button>
            </div>
            </div>

            <div class="admin-form hide" id="admin-product">
                <div class="product-admin-header">
                <select #productList (change)="getIdPr(productList.value); getDataProductId(productIdNum)">
                    <option selected>Seleccionar producto</option>
                    <option *ngFor="let product of  objectsPrList; let i = index" value="{{ product.id }}">
                        {{product.name }}
                    </option>
                    </select>
                    <div id="close-user" (click)="showDefault()"><img src="../../assets/img/cerrar.svg"></div>
                </div>
                 <div class="form">
                    <label>Nombre de producto:</label>
                    <input placeholder="Nombre del Producto" [(ngModel)]="objectPr.name" type="text" >
                    <label>Precio (€):</label>
                    <input placeholder="Precio" [(ngModel)]="objectPr.price" type="text">
                    <label>Categoría:</label>
                    <select #categoryList class="full-width-select"[(ngModel)]="objectPr.categoryId">
                        <option *ngFor="let category of objectsCatList; let i = index" value="{{ category.id }}">
                            {{category.name }}
                        </option>
                    </select>
                    <label>Stock:</label>
                    <input placeholder="Stock" [(ngModel)]="objectPr.stock" type="text">
                    <label>Color:</label>
                    <input placeholder="Color" [(ngModel)]="objectPr.color" type="text">
                    <label>Talla, medida:</label>
                    <input placeholder="Talla" [(ngModel)]="objectPr.size" type="text">
                    <label>Descripción:</label>
                    <textarea [(ngModel)]="objectPr.description"></textarea>
                    <button (click)="putProduct(productIdNum)">Modificar Producto</button>
                    <button (click)="deleteProduct(productIdNum)">Eliminar Producto</button>
                </div>
            </div>

            <div class="admin-form hide" id="admin-newproduct">
                <div class="user-admin-header">
                    <h3>Añadir producto</h3> <div id="close-user" (click)="showDefault()"><img src="../../assets/img/cerrar.svg"></div>
                </div>


                <div class="form">
                        <label>Nombre de producto:</label>
                        <input placeholder="Nombre del Producto" [(ngModel)]="pr.name" type="text" >
                        <label>Categoría:</label>
                            <select #categoryList class="full-width-select"[(ngModel)]="pr.categoryId">
                                <option selected>Seleccionar categoría</option>
                                <option *ngFor="let category of objectsCatList; let i = index" value="{{ category.id }}">
                                    {{category.name }}
                                </option>
                            </select>
                        <label>Precio (€):</label>
                        <input placeholder="Precio" [(ngModel)]="pr.price" type="text">
                        <label>Stock:</label>
                        <input placeholder="Stock" [(ngModel)]="pr.stock" type="text">
                        <label>Color:</label>
                        <input placeholder="Color" [(ngModel)]="pr.color" type="text">
                        <label>Talla, medida:</label>
                        <input placeholder="Talla" [(ngModel)]="pr.size" type="text">
                        <label>Foto de producto:</label>

                        <div class="foto-product">
                            <input id="foto" type="text" [(ngModel)]="pr.featuredPhoto" >
                            <input id="file-name" (change)="getImageRoute()" type="file" accept="image/*">
                        </div>

                        <label>Descripción:</label>
                        <textarea [(ngModel)]="pr.description"></textarea>
                        <button (click)="postProductData()">Añadir Producto</button>
                    </div>
            </div>
    </div>
 
<section>