.admin-form{
    display: flex;
    width: 100%;
    justify-content: center;
    flex-direction: column;
}

.form{
    width: 100%;
}

.admin-space{
    margin: 3em 0;
    width: 45%;
}

#admin-user{
    width: 100%;
}

img{
    width: 45vw;
}
.show{
    display: flex;
    -webkit-animation: fade-in 1.2s cubic-bezier(0.390, 0.575, 0.565, 1.000) both;
    animation: fade-in 1.2s cubic-bezier(0.390, 0.575, 0.565, 1.000) both;
}
.hide{
    display: none;
}

.fixed-width{
    display: flex;
    vertical-align: top;
    flex-direction: row;
    justify-content: space-between;
    align-items: flex-start;
}

.admin-nav{
    display: flex;
    flex-direction: column;
}

.user-admin-header{
    display: flex;
    flex-direction: row;
    justify-content: space-between;
}

select{
    cursor: pointer;
}

#close-user img{
    width: 2.5em;
    cursor: pointer;
}

h3{
    font-size: 2em;
    font-family: var(--secondary-font);
}

#admin-newuser .user-admin-header{
    margin-bottom: 1em;
}

@-webkit-keyframes fade-in {
    0% {
      opacity: 0;
    }
    100% {
      opacity: 1;
    }
}
@keyframes fade-in {
    0% {
      opacity: 0;
    }
    100% {
      opacity: 1;
    }
}  

@media (max-width: 834px) {
    .fixed-width{
        flex-direction: column;
        align-items: center;
    }
    .form{
        width: 100%;
    }

    .admin-nav button{
        width: 100vw;
        text-align: center;
    }

    img{
        width: 100%;
    }
    .admin-space{
        margin: 3em 0;
        width: 100%;
    }
}