article{
    padding: 4em 0;
    display: flex;
    justify-content: space-between;
    flex-direction: row;
}

article img{ 
    width: 60%;
}

.breadcrumbs{
    align-self: flex-start;
}

.product-info{
    width: 35%;
    display: flex;
    flex-direction: column;
}

.breadcrumbs a{
    color: var(--black);
    text-decoration: none;
}

.breadcrumbs ul{
    display: flex;
    flex-direction: row;
}

.breadcrumbs ul li{
   margin-right: 0.5em;
}

.breadcrumbs ul li:first-child{
    font-weight: bold;
 }